# Godot 4+ specific ignores
.godot/
/android/
Exports/IOS/libgodot_camera.visionos.debug.xcframework/xros-arm64/empty
Exports/IOS/libgodot_camera.visionos.release.xcframework/Info.plist
Exports/IOS/libgodot_camera.visionos.release.xcframework/xros-arm64-simulator/empty
Exports/IOS/libgodot_camera.visionos.release.xcframework/xros-arm64/empty
Exports/IOS/MoltenVK.xcframework/Info.plist
Exports/IOS/MoltenVK.xcframework/ios-arm64/libMoltenVK.a
Exports/IOS/MoltenVK.xcframework/ios-arm64_x86_64-simulator/libMoltenVK.a
Exports/IOS/PrivacyInfo.xcprivacy
Exports/IOS/SurvivalGame.pck
Exports/IOS/SurvivalGame.xcframework/Info.plist
Exports/IOS/SurvivalGame.xcframework/ios-arm64/libgodot.a
Exports/IOS/SurvivalGame.xcframework/ios-arm64_x86_64-simulator/libgodot.a
Exports/IOS/SurvivalGame.xcodeproj/project.pbxproj
Exports/IOS/SurvivalGame.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Exports/IOS/SurvivalGame.xcodeproj/xcshareddata/xcschemes/SurvivalGame.xcscheme
Exports/IOS/SurvivalGame/dummy.cpp
Exports/IOS/SurvivalGame/dummy.h
Exports/IOS/SurvivalGame/dummy.swift
Exports/IOS/SurvivalGame/dylibs/empty
Exports/IOS/SurvivalGame/en.lproj/InfoPlist.strings
Exports/IOS/SurvivalGame/export_options.plist
Exports/IOS/SurvivalGame/Images.xcassets/AppIcon.appiconset/Contents.json
Exports/IOS/SurvivalGame/Images.xcassets/AppIcon.appiconset/Icon-1024.png
Exports/IOS/SurvivalGame/Images.xcassets/AppIcon.appiconset/Icon-114.png
Exports/IOS/SurvivalGame/Images.xcassets/AppIcon.appiconset/Icon-120-1.png
Exports/IOS/SurvivalGame/Images.xcassets/AppIcon.appiconset/Icon-120.png
Exports/IOS/SurvivalGame/Images.xcassets/AppIcon.appiconset/Icon-128.png
Exports/IOS/SurvivalGame/Images.xcassets/AppIcon.appiconset/Icon-136.png
Exports/IOS/SurvivalGame/Images.xcassets/AppIcon.appiconset/Icon-152.png
Exports/IOS/SurvivalGame/Images.xcassets/AppIcon.appiconset/Icon-167.png
Exports/IOS/SurvivalGame/Images.xcassets/AppIcon.appiconset/Icon-180.png
Exports/IOS/SurvivalGame/Images.xcassets/AppIcon.appiconset/Icon-192.png
Exports/IOS/SurvivalGame/Images.xcassets/AppIcon.appiconset/Icon-40.png
Exports/IOS/SurvivalGame/Images.xcassets/AppIcon.appiconset/Icon-58.png
Exports/IOS/SurvivalGame/Images.xcassets/AppIcon.appiconset/Icon-60.png
Exports/IOS/SurvivalGame/Images.xcassets/AppIcon.appiconset/Icon-76.png
Exports/IOS/SurvivalGame/Images.xcassets/AppIcon.appiconset/Icon-80.png
Exports/IOS/SurvivalGame/Images.xcassets/AppIcon.appiconset/Icon-87.png
Exports/IOS/SurvivalGame/Images.xcassets/AppIcon.appiconset/sizes
Exports/IOS/SurvivalGame/Images.xcassets/SplashImage.imageset/Contents.json
Exports/IOS/SurvivalGame/Images.xcassets/SplashImage.imageset/splash@2x.png
Exports/IOS/SurvivalGame/Images.xcassets/SplashImage.imageset/splash@3x.png
Exports/IOS/SurvivalGame/Launch Screen.storyboard
Exports/IOS/SurvivalGame/SurvivalGame-Info.plist
Exports/IOS/SurvivalGame/SurvivalGame.entitlements
